@model ProfessionalProfile_Web2.Models.Privacy

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Privacy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <select asp-for="userId" class="form-control" asp-items="ViewBag.userId"></select>
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CanViewEducation" /> @Html.DisplayNameFor(model => model.CanViewEducation)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CanViewWorkExperience" /> @Html.DisplayNameFor(model => model.CanViewWorkExperience)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CanViewSkills" /> @Html.DisplayNameFor(model => model.CanViewSkills)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CanViewProjects" /> @Html.DisplayNameFor(model => model.CanViewProjects)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CanViewCertificates" /> @Html.DisplayNameFor(model => model.CanViewCertificates)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CanViewVolunteering" /> @Html.DisplayNameFor(model => model.CanViewVolunteering)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
