@model IEnumerable<ProfessionalProfile_Web2.Models.Volunteering>

@{
    ViewData["Title"] = "Index";
}

<h1>Volunteering</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.organisation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.organisation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.userId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.volunteeringId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.volunteeringId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.volunteeringId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
