@model IEnumerable<District3_APP_WEB.Models.FancierProfile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Links)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyMotto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemoveMottoDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrameNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hashtag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Links)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyMotto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemoveMottoDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrameNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hashtag)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProfileId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProfileId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProfileId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
