@model IEnumerable<ProfesionalProfile_District3_MVC.Models.WorkExperience>

@{
    ViewData["Title"] = "Index";
}

<h1>WorkExperience</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.jobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employmentPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.responsibilities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.achievements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.jobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employmentPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.responsibilities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.achievements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.workId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.workId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.workId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
